*{
	margin: 0;
	padding: 0;
}

body{
	background-color: #ECE2A8;
}

#wrapper{
	width:960px;
	margin:20px auto;
}

#header{
	background-color: #FAB72A;
	padding: 15px;
	border-bottom: 5px solid #6B710E;
}

#header h2{
	font-family: georgia;
	color: #FFFFF3;
}

#header p{
	font-family: georgia;
	color: #788420;
	margin-top: -9px;
}

/*End of Header part*/

#nav{
	background-color: #fff;
	height: 38px;
	border-bottom: 5px solid #6B710E;
}

#nav ul{
	background-color: #fff;
	list-style-type: none;
	z-index: 999;
}


#nav ul li{
	float: left;
	border-right: 1px solid #6B710E;

}

#nav ul li:last-child{
	border-right: none;

}

#nav ul li a{
	padding: 10px 20px;
	text-decoration: none;
	color: #9f716E;
	display: block;
	font-family: arial;
}

#nav ul li a:hover{
	color: #0a630d;
}

	/*End of Menu Bar*/

#nav ul li{
	position: relative;
}

#nav ul li ul{
	position: absolute;
	left: -9999px;
}

#nav ul li:hover ul{
	left:0;
}

#nav ul li ul li{
	float: none;
	border-right: none;
	border-top: 1px solid #6B710E;
	border-bottom: 1px solid #6B710E;
	width:100px;
}

#nav ul li ul li{
	position: relative;
}

#nav ul li ul li ul{
	position: absolute;
	top:-9999px;
}

#nav ul li ul li:hover ul{
	top:0;
	left:100px;
}

#nav ul li ul li ul li{	
	
}

#nav ul li ul li ul li ul{	
	position: absolute;
	display: none;
}

#nav ul li ul li ul li:hover ul{	
	display:block;
	width:100px;
}
	
	/*End Of Multi Sub Menu Bar*/

#dev7link{
    background: url(img/dev7logo.png) no-repeat;
}


#slider-wrapper
{

	/*width:none;*/
    /*margin: none;*/
	/*width:960px;*/
	/*vertical-align: middle;*/
	/*height: 280px;*/
}



.slider-wrapper{
	width: 941px; /*for dark theme*/
    /*width: 960px;*/ /*for default theme*/
    margin: -21px auto;
 }

 	/*End Of  slider Section*/
	/*End Of  Image Section*/

#content_wrapper{
	background-color: #fff;
	border-top: 5px solid #6B710E;
	overflow: hidden;
	padding: 10px;
}

#content{
	width:600px;
	margin-right: 78px;
	float: left;
}

#content h2{
	color: #6B710E;
	font-family: arial;
	padding: 5px;
}

#content p{
	color: #6B710E;
	text-align: justify;
	font-size: 17px;
}

	/*End of content part*/

#sidebar{
	width:260px;
	float: left;
}

#sidebar h2{
	color: #6B710E;
    font-family: arial;
    padding: 5px;
    margin-left: -23px;
}

#sidebar ul{
	list-style-type: square;
}

#sidebar ul li{
	/*text-align: center;*/
}

#sidebar ul li a{
	text-decoration: none;
	color: #6B710E;
	text-align: justify;
	font-size: 17px;

}

#sidebar ul li a:hover{
	color: #005DCD;
}

	/*End Of Sidebar part*/

#footer{
	background-color: #5A4B3B;
	padding: 5px;
	text-align: center;
}

#footer p{
	
	color: #fff;

}

/*End Of Footer part*/



				/*----------Website Develop-----------*/


			